<p-dialog header="Dodawanie szkolenia" [visible]="dataService.getInstDialogVisible()" modal="modal" [responsive]="true" (onHide)="dataService.setInstDialogVisible(false)">
  <form [formGroup]="instReg" novalidate>
    <div class="form-group"> <!-- Temat Szkolenia -->
      <label for="topic">Temat szkolenia</label>
      <input class="col-xs-4 form-control" type="text" placeholder="Wprowadź temat" id="inputTemat" formControlName="topic">
      <div class="text-danger" *ngIf="instReg.get('topic').invalid && (instReg.get('topic').dirty || instReg.get('topic').touched)">
        <small *ngIf="instReg.get('topic').errors">{{getValidErrors(instReg.get('topic'))}}</small>
      </div>
    </div>

    <div class="form-group"> <!-- Nazwa firmy prowadzącej -->
      <label for="Firma">Nazwa firmy prowadzącej</label>
      <input class="col-xs-4 form-control" type="text" placeholder="Firma prowadząca" id="inputFirma" formControlName="company">
      <div class="text-danger" *ngIf="instReg.get('company').invalid && (instReg.get('company').dirty || instReg.get('company').touched)">
        <small *ngIf="instReg.get('company').errors">{{getValidErrors(instReg.get('company'))}}</small>
      </div>
    </div>

    <div class="form-group"> <!-- Miejsce szkolenia -->
      <label for="Miejsce">Miejsce szkolenia</label>
      <input class="col-xs-4 form-control" type="text" placeholder="Miejsce" id="inputMiejsce" formControlName="location">
      <div class="text-danger" *ngIf="instReg.get('location').invalid && (instReg.get('location').dirty || instReg.get('location').touched)">
        <small *ngIf="instReg.get('location').errors">{{getValidErrors(instReg.get('location'))}}</small>
      </div>
    </div>

    <div class="form-group"> <!-- Data od -->
      <label for="Dataod">Data szkolenia od</label>
      <input class="col-xs-4 form-control" type="date" placeholder="Data od" id="inputDataod" formControlName="dateFrom">
      <div class="text-danger" *ngIf="instReg.get('dateFrom').invalid && (instReg.get('dateFrom').dirty || instReg.get('dateFrom').touched)">
        <small *ngIf="instReg.get('dateFrom').errors">{{getValidErrors(instReg.get('dateFrom'))}}</small>
      </div>
    </div>

    <div class="form-group"> <!-- Data do -->
      <label for="Datado">Data szkolenia do</label>
      <input class="col-xs-4 form-control" type="date" placeholder="Data do" id="inputDatado" formControlName="dateTo">
      <div class="text-danger" *ngIf="instReg.get('dateTo').invalid && (instReg.get('dateTo').dirty || instReg.get('dateTo').touched)">
        <small *ngIf="instReg.get('dateTo').errors">{{getValidErrors(instReg.get('dateTo'))}}</small>
      </div>
    </div>

    <div class="form-group"> <!-- Cena -->
      <label for="Cena">Cena od osoby</label>
      <input class="col-xs-4 form-control" type="number" placeholder="Cena od osoby" id="inputCena" formControlName="cost">
      <div class="text-danger" *ngIf="instReg.get('cost').invalid && (instReg.get('cost').dirty || instReg.get('cost').touched)">
        <small *ngIf="instReg.get('cost').errors">{{getValidErrors(instReg.get('cost'))}}</small>
      </div>
    </div>

    <div class="form-group"> <!-- Zgoda menadżera -->
      <label for="Zgoda">Zgoda menadżera</label>
      <select class="col-xs-4-select form-control" formControlName="manager">
        <option value="Tak">Tak</option>
        <option value="Nie">Nie</option>
      </select>
      <div class="text-danger" *ngIf="instReg.get('manager').invalid && (instReg.get('manager').dirty || instReg.get('manager').touched)">
        <small *ngIf="instReg.get('manager').errors">{{getValidErrors(instReg.get('manager'))}}</small>
      </div>
    </div>

    <p-footer>
      <button type="button" pButton class="btn btn-primary btn-xs" [disabled]="instReg.invalid" (click)="onRegister()" label="Dodaj"></button>
      <button type="button" pButton icon="fa-close" (click)="dataService.setInstDialogVisible(false)" label="Anuluj"></button>

      <!-- <button type="button" class="btn btn-primary btn-xs" (click)="onReset()"
      [disabled]="!instReg.get('topic').value && !instReg.get('company').value && !instReg.get('location').value && !instReg.get('dateFrom').value && !instReg.get('dateTo').value && !instReg.get('cost').value && !instReg.get('manager').value">
        Resetuj
      </button> -->
    </p-footer>
  </form>
</p-dialog>
