<p-growl></p-growl>
<h1 class="nazwa">{{title}}</h1>
<form class="rejestru" [formGroup]="regForm" (ngSubmit)="onSubmit()">
  <div class="form-group"> <!-- Imię -->
    <label for="Name">Podaj imię</label>
    <input class="col-xs-4 form-control" type="text" placeholder="Imię" id="inputName" formControlName="name">
    <div class="text-danger" *ngIf="regForm.get('name').invalid && (regForm.get('name').dirty || regForm.get('name').touched)">
      <small *ngIf="regForm.get('name').errors">{{getValidErrors(regForm.get('name'))}}</small>
    </div>
  </div>

  <div class="form-group"> <!-- Nazwisko -->
    <label for="Lastname">Podaj nazwisko</label>
    <input class="col-xs-4 form-control" type="text" placeholder="Nazwisko" id="inputLastname" formControlName="surname">
    <div class="text-danger" *ngIf="regForm.get('surname').invalid && (regForm.get('surname').dirty || regForm.get('surname').touched)">
        <small *ngIf="regForm.get('surname').errors">{{getValidErrors(regForm.get('surname'))}}</small>
      </div>
  </div>

  <div class="form-group"> <!-- Login -->
    <label for="Login">Podaj login</label>
    <input class="col-xs-4 form-control" type="text" placeholder="Login" id="inputLogin" formControlName="login">
    <div class="text-danger" *ngIf="regForm.get('login').invalid && (regForm.get('login').dirty || regForm.get('login').touched)">
        <small *ngIf="regForm.get('login').errors">{{getValidErrors(regForm.get('login'))}}</small>
      </div>
  </div>

  <div class="form-group"> <!-- Email -->
    <label for="Email">Podaj adres email</label>
    <input class="col-xs-4 form-control" type="email" placeholder="Adres Email" id="inputEmail" formControlName="email">
    <div class="text-danger" *ngIf="regForm.get('email').invalid && (regForm.get('email').dirty || regForm.get('email').touched)">
        <small *ngIf="regForm.get('email').errors">{{getValidErrors(regForm.get('email'))}}</small>
      </div>
  </div>

  <div class="form-group"> <!-- Hasło -->
    <label for="Password">Podaj hasło</label>
    <input class="col-xs-4 form-control" type="password" placeholder="Hasło" id="inputPassword" formControlName="password">
    <div class="text-danger" *ngIf="regForm.get('password').invalid && (regForm.get('password').dirty || regForm.get('password').touched)">
        <small *ngIf="regForm.get('password').errors">{{getValidErrors(regForm.get('password'))}}</small>
      </div>
  </div>

  <div class="center">
    <button type="submit" class="btn btn-primary btn-xs" [disabled]="regForm.invalid">
      Rejestruj
    </button>

    <button type="button" class="btn btn-primary btn-xs" (click)="onReset()" [disabled]="!regForm.get('name').value && !regForm.get('surname').value && !regForm.get('login').value && !regForm.get('email').value && !regForm.get('password').value">
      Resetuj
    </button>
  </div>
</form>
