<p-dialog header="Edycja rekordu" [visible]="dataService.getDialogVisible()" modal="modal" [responsive]="true" (onHide)="dataService.setDialogVisible(false)">
  <form [formGroup]="dialForm" novaldiate>
    <div class="form-group">
      <label for="topic">Temat szkolenia:</label>
      <input class="col-xs-4 form-control" type="text" placeholder="{{inst.topic}}" id="topic" formControlName="topic">
      <div class="text-danger" *ngIf="dialForm.get('topic').invalid && (dialForm.get('topic').dirty || dialForm.get('topic').touched)">
        <small *ngIf="dialForm.get('topic').errors">{{getValidErrors(dialForm.get('topic'))}}</small>
      </div>
    </div>

    <div class="form-group">
      <label for="company">Nazwa firmy prowadzącej:</label>
      <input class="col-xs-4 form-control" type="text" placeholder="{{inst.company}}" id="company" formControlName="company">
      <div class="text-danger" *ngIf="dialForm.get('company').invalid && (dialForm.get('company').dirty || dialForm.get('company').touched)">
        <small *ngIf="dialForm.get('company').errors">{{getValidErrors(dialForm.get('company'))}}</small>
      </div>
    </div>

    <div class="form-group">
      <label for="location">Miejsce szkolenia:</label>
      <input class="col-xs-4 form-control" type="text" placeholder="{{inst.location}}" id="location" formControlName="location">
      <div class="text-danger" *ngIf="dialForm.get('location').invalid && (dialForm.get('location').dirty || dialForm.get('location').touched)">
          <small *ngIf="dialForm.get('location').errors">{{getValidErrors(dialForm.get('location'))}}</small>
        </div>
    </div>

    <div class="form-group">
      <label for="dateFrom">Data rozpoczecia szkolenia:</label>
      <input class="col-xs-4 form-control" type="date" id="dateFrom" formControlName="dateFrom">
      <div class="text-danger" *ngIf="dialForm.get('dateFrom').invalid && (dialForm.get('dateFrom').dirty || dialForm.get('dateFrom').touched)">
        <small *ngIf="dialForm.get('dateFrom').errors">{{getValidErrors(dialForm.get('dateFrom'))}}</small>
      </div>
    </div>

    <div class="form-group">
      <label for="dateTo">Data zakonczenia szkolenia:</label>
      <input class="col-xs-4 form-control" type="date" id="dateTo" formControlName="dateTo">
      <div class="text-danger" *ngIf="dialForm.get('dateTo').invalid && (dialForm.get('dateTo').dirty || dialForm.get('dateTo').touched)">
          <small *ngIf="dialForm.get('dateTo').errors">{{getValidErrors(dialForm.get('dateTo'))}}</small>
        </div>
    </div>

    <div class="form-group">
      <label for="cost">Koszt od osoby:</label>
      <input class="col-xs-4 form-control" type="text" placeholder="{{inst.cost}}" id="cost" formControlName="cost">
      <div class="text-danger" *ngIf="dialForm.get('cost').invalid && (dialForm.get('cost').dirty || dialForm.get('cost').touched)">
          <small *ngIf="dialForm.get('cost').errors">{{getValidErrors(dialForm.get('cost'))}}</small>
        </div>
    </div>

    <div class="form-group">
      <label for="manager">Zgoda menadżera:</label>
      <select class="col-xs-4-select form-control" id="manager" formControlName="manager">
        <option value="Tak">Tak</option>
        <option value="Nie">Nie</option>
      </select>
      <div class="text-danger" *ngIf="dialForm.get('manager').invalid && (dialForm.get('manager').dirty || dialForm.get('manager').touched)">
        <small *ngIf="dialForm.get('manager').errors">{{getValidErrors(dialForm.get('manager'))}}</small>
      </div>
    </div>

    <p-footer>
      <button type="button" pButton icon="fa-check" [disabled]="dialForm.invalid" (click)="onSubmit()" label="Zapisz"></button>
      <button type="button" pButton icon="fa-close" (click)="dataService.setDialogVisible(false)" label="Anuluj"></button>
    </p-footer>
  </form>
</p-dialog>
