<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html">Główna</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!getUser()">Logowanie<span class="sr-only"></span></a>
        <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="getUser()">Dashboard<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/vacation" routerLinkActive="active" *ngIf="getUser()">Urlop<span class="sr-only"></span></a>
      </li>
      <div class="container">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rejestracja</a><span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" class="bg-inverse text-white" routerLink="/register" routerLinkActive="active">Rejestracja użytkownika</a></li>
            <!-- <li><a tabindex="-1" class="bg-inverse text-white" routerLink="/inst-register" routerLinkActive="active">Rejestracja szkolenia</a></li> -->
            <!-- <li><a tabindex="-1" class="bg-inverse text-white" routerLink="/dashboard" routerLinkActive="active">Szkolenia</a></li> -->
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#" class="nav-link dropdown-toggle">cos dalej<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#" class="bg-inverse text-white">cos</a></li>
                <li><a tabindex="-1" href="#" class="bg-inverse text-white">cos</a></li>
                <li class="dropdown-submenu">
                  <a href="#" class="nav-link dropdown-toggle">cos dalej<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#" class="bg-inverse text-white">cos</a></li>
                    <li><a href="#" class="bg-inverse text-white">cos</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </ul>
  </div>
  <button class="btn btn-danger" type="button" (click)="onLogout()" *ngIf="getUser()">Wyloguj</button>
</nav>
